<style>@import url('https://fonts.googleapis.com/css?family=Poiret+One');
</style>body,
html {
    height: 100%;
}

body{
    color: white;    
    font-size: 20px;
  line-height: 1.42857143;
    background: linear-gradient(to right, indigo, violet);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.f1 {
    color: white;
    font-family: 'Poiret One', cursive;
     font-size: 60px; 
}

.row {
    border-color: solid black;
    border: 2px;
}
.form-control:hover{
    transform: translateY(5px);
    
}
.form-control:focus{
    transform: scaleY(1.7);
}
